:root {
    --bd-bg-color: #3b4664;
    --btn-primery-color: #e7e0da;
    --cal-bg: #252d44;
    --result-bg: #181f32;
    --color-num: #ffffff;
    --eqaul: #d13f30;

}

* {
    margin: 0;
    padding: 0;
}

.containerparent {
    /* background-color: yellow; */
    width: 50%;
    padding-inline: 5vw;

}

body {
    background-color: var(--bd-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.title {
    color: var(--color-num);
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
}



.title h1 {
    font-size: 16px;
}

.result {
    display: flex;
    justify-content: end;
    background-color: var(--result-bg);
    color: var(--color-num);
    padding-block: 8vh;
    border-radius: 10px;
    font-size: 30px;
    margin-bottom: 4vh;
    font-weight: 700;


}

.result p {
    padding-inline-end: 1vw;
}

.containernumbers {
    background-color: var(--cal-bg);
    display: grid;
    grid-template-columns: repeat(4, 8vw);
    justify-content: center;
    gap: 3vh 2vw;
    padding-block: 2vh;
    color: var(--result-bg);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
}

.containernumbers p {
    background-color: var(--btn-primery-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 3vh;
    border-radius: 10px;
    box-shadow:
        0 6px 0 #b5b5b5,
        0 8px 15px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
}

.containernumbers p:active {
    transform: translateY(6px);
}

.containernumbers p:nth-last-child(2),
.containernumbers p:last-child {
    grid-column: span 2;
    box-shadow:
        0 6px 0 rgba(0, 0, 0, 0.35),
        0 8px 15px rgba(0, 0, 0, 0.35);
}
.containernumbers .del{
    box-shadow:
        0 6px 0 rgba(0, 0, 0, 0.35),
        0 8px 15px rgba(0, 0, 0, 0.35);
}

.containernumbers p:nth-last-child(2),
.containernumbers .del {
    color: var(--color-num);
    background-color: var(--bd-bg-color);
}

.containernumbers p:last-child {
    color: var(--color-num);
    background-color: var(--eqaul);
}